<!-- views/partials/footer.ejs -->
<footer class="footer">
      <p>© 2020 BJRS</p>
    <i class="fab fa-twitter"></i><a class="twitter-follow-button"href="https://twitter.com/TwitterDev">
       Follow @TwitterDev</a>

    <p><i clas="WhatsApp"></i> <a class="appWhatsapp" target="_blanck" href="https://api.whatsapp.com/send?phone=524181118755&text=Necesito&nbsp;Ayuda">
      <img src="/images/whatsapp.png" alt="Whatsapp">¿Tienes alguna duda?, Escribeme a WhatsApp y te la respondo</p>
      </a>
 </footer>