<!-- views/partials/footer.ejs -->
<footer class="footer">
    <p>© 2020 BJRS</p>
    <i class="fab fa-twitter"></i><a class="twitter-follow-button"
  href="https://twitter.com/TwitterDev">
Follow @TwitterDev</a>
 </footer>