<!DOCTYPE html>
<html>
  <head>
      <link rel='stylesheet' href='/stylesheets/style.css' />
   </head>
  <body >
    
    <h1>Acerca  de...Brenda Janet Rodríguez Salazar </h1>
     <img  id="imagen" src="/images/imagen.png" width="500" height="400" />   
     <p>Nací el 16 de abril del 2001, tengo 19 años y soy de Dolores Hidalgo. Estudio Desarrollo de Software porque se me hace una carrera muy intesante. Mi plan después de
       de graduarme de TSU  es trabajar y estudiar la Ingeniería en modalidad semiescolarizada.</p>
    <%- include('partials/script'); %> 
  </body>
  <footer>
    <%- include('partials/footer'); %> 
  </footer>
</html>
