<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %> 
  </head>
  <body>
    <%- include('partials/navbar'); %> 
    <div class="jumbotron">
      <h1 class="display-4">BIENVENIDO</h1>
      <p class="lead">Éste es un ejemplo básico</p>
      <hr class="my-4">
      <p>Mi primer sitio básico</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    <%- include('partials/script'); %> 
  </body>
  <%- include('partials/footer'); %> 
  
</html>
