<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Master</title>
        <%- include('../partials/head'); %>   
    </head>
    <body class="login">
        
        <div class="login-box">
            
            <form action="../users/login" method="POST">
                <!--USERNAME-->
                <label for="username">Username</label>
                <input type="text" placeholder="username"  id="username" name="username">

                <!--PASSWORD-->
                <label for="password">Password</label>
                <input type="password" placeholder="Enter Password"  id="password" name="password">
                <!--Tipo de cuenta-->
                
                <!--SUBMIT-->
                <input type="submit" value="Log In">

                
                <a href="/signup">No tienes una cuenta?</a>
               

                
            </form>
        </div>
             
        <%-include('../partials/script'); %>
      
    </body>
</html>