<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %> 
   </head>
  <body>
    <%- include('partials/navbar'); %>
    <br>
      <div class="container">
    <div class="row">
    <div class="col-sm-8">
      <h3><br><br>Esta película me hizo llorar :'(</h3>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/1e9z9E4uPwM" frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <script>
      
      var tag = document.createElement('script');
      tag.src = "player";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player;
       function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '360',
          width: '640',
          videoId: 'M7lc1UVf-VE',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }
      function onPlayerReady(event) {
        event.target.playVideo();
      }
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
    </script>          
     
    </div>
    <div class="col-sm-4">
      <h3>Esta es una de mis canciones favoritas</h3>
      <iframe src="https://open.spotify.com/embed/track/7fNPXeqDaUjWiZhiPHTG6y" width="300" height="380" frameborder="0" 
      allowtransparency="true" allow="encrypted-media"></iframe>    
     
    </div>
  </div>
</div>



   

      
   <%- include('partials/script'); %> 
  </body>
  <br>
  <%- include('partials/footer'); %> 
</html>