<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %> 
   </head>

  <body> 
     <%- include('partials/navbar'); %>
    <br>
    <h2>MI UBICACIÓN</h2>
    <p>En este apartado puedes encontrar la ubicación de mi casa</p>
    <br>
    
    <div>
     <div id="map-template"></div>
    </div>

    <%- include('partials/script'); %> 
  </body>
  <br>
  <h1></h1>
  <h1>
    <br>
    <br>
    <br>
  </h1>
  <h1>
    <br>
    <br>
    <br>
    <br>
    <br>
  </h1>
 

  <%- include('partials/footer'); %> 
</html>
