body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image:linear-gradient(#0F0C29,#302B63,#24243e);
  margin-right: 50px;
  margin-left: 50px;
}

.bg-3 {
  background-color:#424949 ;
  color: #555555;
  }
  .container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
  }
  footer{
    background-image: linear-gradient(#d3cce3,#e9e4f0);
    text-align: center;
    padding: 10px;
    size: 5cm;
    font-size: 12px;
  letter-spacing: 3px;
  }
  .navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  background-color: burlywood ;
  }
  .navbar-nav li a:hover {
  color: #1abc9c !important;
  }
  .active>a {
  color: #1abc9c !important;
  }
  nav{
    background-image: linear-gradient(#d3cce3,#e9e4f0);
  }
 /*Whatshap*/
    .appWhatsapp{
      
      right: 26px;
      bottom: 50px;
      width: 30px;
      z-index: 1000;
    }
    .appWhatsapp img{
      width: 2%;
      height: 2%;
    }
    
  /*LOGIN*/
  #map {
    height: 500px;
    width: 100%;
  }
 